body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}
header h1 {
    color: white;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
h1, h2 {
    color: #4CAF50;
}
.goal-summary, .goal-breakdown, .projects, .soft-skills {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
}
.goal-summary p, .goal-breakdown p, .projects p, .soft-skills p {
    font-size: 16px;
    line-height: 1.6;
}
.goal-breakdown ul, .projects ul, .soft-skills ul {
    list-style-type: none;
    padding-left: 20px;
}
.goal-breakdown li, .projects li, .soft-skills li {
    margin: 10px 0;
}
.buttons {
    text-align: center;
    margin: 3% 2%;
    display: block;
}
a {
    text-decoration:none;
    color: #4CAF50;
    font-size:
}
.progress-bar {
    background-color: #ddd;
    border-radius: 10px;
    width: 100%;
    height: 20px;
}
.progress-bar .progress {
    background-color: #4CAF50;
    height: 100%;
    border-radius: 10px;
}
footer {
    text-align: center;
    background-color:#4CAF50; 
    color: white;
    padding: 10px 0;
    font-size: 14px;
}